.cartitems{
    margin: 100px 170px;
}
.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.ci-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.ci-product-icon{
    width: 90px;
    height: 100px;
}
.ci-format{
    font-size: 17px;
    font-weight: 500;
}
.ci-remove-icon{
width: 15px;
margin: 0px 40px;
cursor: pointer;
}
.ci-quantity{
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;  
}
.ci-down{
    display: flex;
    margin: 100px 0px;
}
.ci-total{
    flex: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-right: 200px;
}
.ci-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.ci-total button {
    width: 262px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.ci-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.ci-promocode p {
    color: #555;
}
.ci-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;

}
.ci-promocode input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.ci-promocode button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
}

@media(max-width: 1250px){
    .cartitems{
        margin: 100px 100px;
    }
    .ci-format-main{
        gap: 50px;
        padding: 20px 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .ci-product-icon{ 
        height: 80px;
        width: 70px;
    }
    .ci-format{
        font-size: 12px;
        font-weight: 500;
    }
    .ci-remove-icon{
    width: 15px;
    margin: 0px 40px;

    }
    .ci-quantity{
      width: 44px;
      height: 35px;
    }

    .ci-total{
        gap: 30px;
        margin-right:150px;
    }
    .ci-total-item{
        padding: 15px 0px;
    }
    .ci-total button {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }
    .ci-promocode{
        flex: 1;
        font-size: 12px;
        font-weight: 500;
    }
    .ci-promocode p {
        color: #555;
    }
    .ci-promobox{
        width: 300px;
        margin-top: 15px;
        padding-left: 20px;
    }
    .ci-promocode input{
        font-size: 16px;
        width: 225px;
        height: 50px;
    }
    .ci-promocode button{
        width: 70px;
        height: 58px;
        font-size: 16px;
    }
}
@media(max-width: 815px){
    .cartitems{
        margin: 100px 70px;
    }
    .ci-format-main{
        gap: 30px;
        padding: 15px 0px;
        font-size: 12px;
        font-weight: 600;
    }
    .ci-product-icon{ 
        height: 70px;
        width: 60px;
    }
    .ci-format{
        font-size: 10px;
        font-weight: 500;
    }
    .ci-remove-icon{
    width: 12px;
    margin: 0px 40px;
    }
    .ci-quantity{
      width: 34px;
      height: 30px;
    }

    .ci-total{
        flex: 1;
        display: flex;
        gap: 15px;
        margin-right: 100px;
    }
    .ci-total-item{
        padding: 15px 0px;
    }
    .ci-total button {
        width: 180px;
        height: 50px;
        font-size: 12px;
    }
    .ci-promocode{
        flex: 1;
        font-size: 12px;
        font-weight: 500;
    }
    .ci-promocode p {
        color: #555;
    }
    .ci-promobox{
        width: 255px;
        margin-top: 15px;
        padding-left: 20px;
        height: 58px;
    
    }
    .ci-promocode input{
        font-size: 12px;
        width: 200px;
        height: 50px;
    }
    .ci-promocode button{
        width: 50px;
        height: 58px;
        font-size: 12px;

    }
    .ci-down{
        flex-direction: column;
        margin: 100px 0px;
        gap: 80px;
    }
}